* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #343A40;
}
header nav {
  width: 85%;
  margin: auto;
}
header nav .collapseDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .collapseDiv .list li a {
  color: gray;
}
header nav .collapseDiv .btn .btn1, header nav .collapseDiv .btn .btn2 {
  color: #fff;
  border-radius: 0;
  border: 1px solid #7CBD1E;
}
header nav .collapseDiv .btn .btn1 {
  background-color: transparent;
}
header nav .collapseDiv .btn .btn2 {
  background-color: #7CBD1E;
}
header nav .collapseDiv .btn .btn1:hover {
  background-color: #7CBD1E;
}
header nav .collapseDiv .btn .btn2:hover {
  background-color: #669C19;
}

#unit1 .domain {
  position: relative;
}
#unit1 .domain img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
#unit1 .domain h1 {
  position: absolute;
  color: #fff;
  top: 30%;
  left: 26%;
  font-size: 80px;
}
#unit1 .domain p {
  position: absolute;
  color: #fff;
  top: 48%;
  left: 44%;
  font-size: 30px;
}
#unit1 .domain .btn3 {
  position: absolute;
  top: 60%;
  left: 42%;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#unit1 .domain .btn3 .btn4, #unit1 .domain .btn3 .btn5 {
  padding: 10px 12px;
}
#unit1 .domain .btn3 .btn4 {
  background-color: #7CBD1E;
  color: #fff;
}
#unit1 .domain .btn3 .btn4:hover {
  background-color: #669C19;
}
#unit1 .domain .btn3 .btn5 {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
#unit1 .domain .btn3 .btn5:hover {
  background-color: #fff;
  color: #000;
}
#unit1 .domain .btn3 .btn4:hover, #unit1 .domain .btn3 .btn5:hover {
  transition: 0.5s;
}

#unit2 {
  margin-top: 10%;
}
#unit2 .hostingHead {
  text-align: center;
}
#unit2 .container {
  margin-top: 4%;
}
#unit2 .container .card {
  padding: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#unit2 .container .card i {
  color: #7CBD1E;
  text-align: center;
  font-size: 60px;
}
#unit2 .container .card h1 {
  text-align: center;
  font-size: 30px;
}
#unit2 .container .card p {
  text-align: center;
}
#unit2 .container .card button {
  background-color: #7CBD1E;
  width: 40%;
  color: #fff;
  padding: 6px;
  border: 1px solid #669C19;
}
#unit2 .container .card button:hover {
  background-color: #669C19;
}

#unit3 {
  margin-top: 14%;
}
#unit3 .clients {
  position: relative;
}
#unit3 .clients img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  filter: brightness(66%);
}
#unit3 .clients h1 {
  position: absolute;
  top: 20%;
  left: 8%;
  color: #fff;
  font-size: 80px;
}
#unit3 .clients p {
  position: absolute;
  top: 40%;
  left: 8.5%;
  color: #fff;
  font-size: 26px;
}
#unit3 .clients button {
  position: absolute;
  top: 56%;
  left: 10%;
  padding: 12px;
  background-color: #7CBD1E;
  color: #fff;
  border: 1px solid #7CBD1E;
}
#unit3 .clients button:hover {
  background-color: #669C19;
}

footer {
  margin-top: 10%;
  background-color: #393E46;
  width: 100%;
  height: 120px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}